/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 0.75rem;
}

header{
    font-size: 1rem;
}


/*
override bootstrap
*/

p {
margin-top: auto; 
margin-bottom: auto;


}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}





title-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  left: 0;
}



h1-calc {
  font-size: 0.9rem;
  color: #0d6efd;
  position: sticky;
  left: 0;
  background-color: white;

}

h2-calc {
  font-size: 0.9rem;
  padding-top: 10px;
  text-decoration: underline;
  margin-bottom: 0;
  position: sticky;
  left: 0;
}

h3-calc {
  margin-top: auto;
  margin-bottom: auto;
  position: sticky;
  left: 0;
}



h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 0.9rem;
    color: #0d6efd;

    }

h3 {
    font-size: 0.9rem;
    padding-top:10px;
    text-decoration: underline;
    margin-bottom: 0;


}

h4 {
    font-size: 0.75rem;
    text-decoration: underline;
    margin-top: 0.5rem;

}

.navbar {
    padding: 15px 0px;
}




/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

header { 
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 100%;
    background-color: white; 
    padding: 10px;
    height:40px;
    margin: 0px;
    position: fixed;
    z-index: 2;
    font-weight: bold;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.title-wrapper{
    position: relative;
}

#sidebar {
    width: 400px;
    border-right: 1px solid rgb(221, 221, 221);
    position: fixed;
    left: 0;
    top: 40px;
    height: 100vh;
    z-index: 1;
    background: rgb(242, 242, 242);
    transition: all 0.3s;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
}

#sidebar.active {
    margin-left: -400px;
}

#accordionSidebar {
    margin-top: 10px;
}

.accordion-button {
  padding: 5px;
  background: rgb(242, 242, 242);
  color: rgb(92, 105, 117);
  font-size: 0.8rem;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 400px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    color: rgb(59, 69, 78);
    background: rgb(242, 242, 242);
}

#content-nav{
    margin-top: 5px;
    margin-bottom: 10px;
    background: rgb(242, 242, 242);

    }



.button {
  align-items: center;
  background-color: #0d6efd;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.75rem;
  justify-content: center;
  min-height: 30px;
  overflow: hidden;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
}


#content.active {
    width: 100%;
}

.table {
  font-size: 0.75rem;

}




.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}




.box-wrapper {
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 10px;
}



#myTableEquity tr:nth-child(2) td:first-child,
#myTableEquity tr:nth-child(3) td:first-child {
    padding-left: 20px;
  }  


#myTableSHL tr:nth-child(2) td:first-child,
#myTableSHL tr:nth-child(3) td:first-child,
#myTableSHL tr:nth-child(4) td:first-child {
    padding-left: 20px;
  }  

#myTableDebtAvailable tr:nth-child(2) td:first-child {
    padding-left: 20px;
  }  


#myTableDebtBalance tr:nth-child(2) td:first-child,
#myTableDebtBalance tr:nth-child(3) td:first-child {
    padding-left: 20px;
  }  


#myTableRE tr:nth-child(3) td:first-child,
#myTableRE tr:nth-child(4) td:first-child {
    padding-left: 20px;
  }  



#myTableWC_receivables tr:nth-child(2) td:first-child,
#myTableWC_receivables tr:nth-child(3) td:first-child {
    padding-left: 20px;
  }  


#myTableWC_payables tr:nth-child(2) td:first-child,
#myTableWC_payables tr:nth-child(3) td:first-child {
    padding-left: 20px;
  }  





.box-calc {
    padding-left: 0px;
    overflow: auto; /* Add this line */
    height:1075px;
}

.box {
    padding-left: 0px;
    overflow: auto; /* Add this line */
}

.table td {
    line-height: 0em;
    min-width: 10em;
    max-width: 10em;
}

.table td:first-child {
    min-width: 25em;
    max-width: 25em;
    background-clip: padding-box;
}  

.table td:nth-child(2) {
  font-style: italic;
} 


.table-sum{
    width: 100%;
    table-layout: fixed;
}




#table_sum_sources tr:nth-child(2) td:first-child,
#table_sum_sources tr:nth-child(3) td:first-child {
  padding-left: 10px;
}

#table_sum_uses tr:nth-child(4) td:first-child,
#table_sum_uses tr:nth-child(5) td:first-child,
#table_sum_uses tr:nth-child(6) td:first-child {
  padding-left: 10px;
}

.dates-wrapper {
width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
 
}


#table-financing-terms {
    width: 60%;
}

#myTableBSA tr:nth-child(4) td:first-child,
#myTableBSA tr:nth-child(5) td:first-child,
#myTableBSA tr:nth-child(6) td:first-child {
    padding-left: 20px;
  }  




#myTableDate{
    background-color: rgb(242, 242, 242);
    border-bottom-width:None;
  z-index: 3;

}

#myTableDate td:first-child{
    background-color: rgb(242, 242, 242);
}

#myTableDate tr:first-child{
    border-top: solid 1px #0d6efd;
}
#myTableDate tr:nth-child(2){
    border-bottom: solid 1px #0d6efd;
}



.table-sum td{
    font-size: 0.75rem;
    line-height: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


#table-financing-terms tbody tr:first-child td{
    font-weight: 500;
    text-decoration: underline;

}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -400px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 400px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* ---------------------------------------------------
    GRAPHS STYLE
----------------------------------------------------- */

.charts-container {
    display: flex;
    height : 300px;
}


.nav-summary {
    display: flex;

}

.summary-container-left {

    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 10px;
  /* Additional styles for the left container */
}


.summary-container-right {
    width: 30%;
  /* Additional styles for the left container */
}
#summary-fp{
    width: 100%;

}


#summary-financing{
    width: 99%;

}

.summary-container-titles {
    display: flex;
    width:100%;
}

.summary-titles{
    width: 50%;


}


.summary-container {
    display: flex;
    align-items: flex-end;
    width:100%;

}

.summary {

    width: 50%;
}

.graph {
    display: flex;
    width: 50%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;

}

.btn {
  font-size: 12px;
}


.accordion-body {
  padding: 0.3rem 0.75rem;
}

.row-inline-wrapper{
    display: flex;
    align-items: stretch;
    }


.year-box{
    height:27.65px;
      display: flex;
      align-items: center; /* ou justify-content: center; */
}

.columns-container {
    display: flex;
}

.column-input {
    flex: 1;
}


.row-inline-two{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    padding-left:2px;
    }

.row-inline-three{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    padding-left:2px;
    }

.row-inline-three-first{
    display: flex;
    width:40%;
    align-items: center;
    min-height: 30px; 

    }

.row-inline-three-second{
    display: flex;
    width:20%;
    font-style: italic;
    align-items: center;
    }

.row-inline-three-first-underlined{
    display: flex;
    width:40%;
    align-items: center;
    min-height: 30px; 
    border-top: 1px solid black;
}

.row-inline-four{
    flex: 1 1 0;
    }

.form{
    display: block;
    width: 100%;
    font-size: 0.75rem;
    padding: 0.20rem 0.375rem;
    line-height: 1;
    color: #305496;
    background-color: #FFFFCC;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    }

.form:focus,.form:active {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
}


.nav-tabs .nav-item .nav-link {
    background: rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    font-size: 0.9rem;

}

.nav-tabs .nav-item .nav-link.active {
    color: #0d6efd;
    border-bottom: 3px solid;

}


