

<div class="charts-container">

	<div class="graph"><canvas id="myChart"></canvas></div>
	<div class="graph"><canvas id="myChart2"></canvas></div>

</div>

<div class="charts-container">

	<div class="graph"><canvas id="myChart3"></canvas></div>
	<div class="graph"><canvas id="myChart12"></canvas></div>

</div>


<div class="charts-container">

	<div class="graph"><canvas id="myChart7"></canvas></div>
	<div class="graph"><canvas id="myChart9"></canvas></div>

</div>

<div class="charts-container">

	<div class="graph"><canvas id="myChart10"></canvas></div>
	<div class="graph"><canvas id="myChart11"></canvas></div>

</div>


<div class="charts-container">

	<div class="graph"><canvas id="myChart13"></canvas></div>

</div>

<!-- Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<script>



const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["1", "2", "3", "4", "5", "6"],
        datasets: [{
            label: 'Construction costs',
            data: [1, 2, 3, 4, 5, 6],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 0.75)',
            borderWidth: 1
        }, {
            label: 'Cumulative construction costs',
            data: [1, 2, 3, 4, 5, 6],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 0.75)',
            fill: 'origin', // Fill the line chart from the origin
            borderWidth: 1,
            type: 'line', // Use a line chart for this dataset
        }, {
            label: 'Development fee',
            data: [1, 2, 3, 4, 5, 6],
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 0.75)',
            borderWidth: 1
        }, {
            label: 'Debt IDC and fees',
            data: [1, 2, 3, 4, 5, 6],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 0.75)',
            borderWidth: 1
        }, {
            label: 'DSRA initial funding',
            data: [1, 2, 3, 4, 5, 6],
			backgroundColor: 'rgba(255, 165, 0, 0.2)', 
			borderColor: 'rgba(255, 165, 0, 0.75)',   
            borderWidth: 1
        }, {
            label: 'Local taxes',
            data: [1, 2, 3, 4, 5, 6],
            backgroundColor: 'rgba(128, 0, 128, 0.2)',
            borderColor: 'rgba(128, 0, 128, 0.5)', 
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                position: 'top',
            }, title: {
			display: true,
			text: 'Project costs (kEUR)'
			}
        },
        scales: {
            x: {
                stacked: 'normal',
            },
            y: {
                stacked: 'normal',
            },

        },
        title: {
            display: true,
            text: 'Construction costs (kEUR)'
        }
    }
});

const ctx2 = document.getElementById('myChart2');
const myChart2 = new Chart(ctx2, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'bar',
			label: 'Share capital contributions',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Shareholder loan drawdowns',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Debt drawdowns',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 206, 86, 0.2)',
			],
			borderColor: [
				'rgba(255, 206, 86, 0.75)',
			],
			borderWidth: 1
		}
		,{

			type: 'bar',
			label: 'Total project costs',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{
			type: 'line',
			yAxisID: 'z',
			label: 'Gearing during construction',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			borderWidth: 1
		}
		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Financing plan (kEUR)'
		}},

		scales: {
			x: {
				stacked: true,
			},
			y: {
				stacked: true,
			},
				z: {
				position: 'right',
				min:0,
				max:1,
				ticks: {
                callback: function (value) {
                    return (value*100).toString() + '%';
                }
            },
	
			},
		}
	}
});


const ctx3 = document.getElementById('myChart3');
const myChart3 = new Chart(ctx3, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'bar',
			label: 'Operating costs',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Lease',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 206, 86, 0.2)',
			],
			borderColor: [
				'rgba(255, 206, 86, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'line',
			label: 'Contracted revenues',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		},{

			type: 'line',
			label: 'Merchant revenues',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Debt service',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			borderWidth: 1
		},
		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Cash flows (kEUR)'
		}},

		scales: {
			x: {
				stacked: true,
			},
			y: {
				stacked: true,
			},
		}
	}
});







const ctx7 = document.getElementById('myChart7');
const myChart7 = new Chart(ctx7, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'bar',
			label: 'Interests',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Repayments',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 206, 86, 0.2)',
			],
			borderColor: [
				'rgba(255, 206, 86, 0.75)',
			],
			borderWidth: 1
		},{
			type: 'line',
			yAxisID: 'z',
			label: 'DSCR',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			borderWidth: 1
		}

		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Debt service (kEUR) and DSCR (x)'
		}},

		scales: {
			x: {
				stacked: true,
				position: 'left',

			},
			y: {
				stacked: true,
				position: 'left',

			},
			z: {
				position: 'right',
				ticks: {
                    callback: function (value) {
                        return value.toString() + 'x';
                    }
                }			
			},
		}
	}
});



const ctx9 = document.getElementById('myChart9');
const myChart9 = new Chart(ctx9, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'bar',
			label: 'Drawdowns',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 206, 86, 0.2)',
			],
			borderColor: [
				'rgba(255, 206, 86, 0.75)',
			],
			borderWidth: 1
		},{
			type: 'bar',
			label: 'Repayments',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'line',
			label: 'Debt outstanding',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		}
		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Debt outstanding and repayments (kEUR)'
		}},

	}
});


const ctx10= document.getElementById('myChart10');
const myChart10 = new Chart(ctx10, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'line',
			label: 'DSCR',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'line',
			label: 'LLCR',
			data: [1,2,3,4,5,6],
					backgroundColor: [
				'rgba(255, 206, 86, 0.2)',
			],
			borderColor: [
				'rgba(255, 206, 86, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'line',
			label: 'PLCR',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			borderWidth: 1
		}
		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Debt ratios (x)'
		}},

		scales: {
			y: {
				ticks: {
                    callback: function (value) {
                        return value.toString() + 'x';
                    }
                }
			},
	
		
		}
	}
});







const ctx11 = document.getElementById('myChart11');
const myChart11 = new Chart(ctx11, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'bar',
			label: 'Debt service',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'line',
			label: 'DSRA balance (BoP)',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		}
		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Debt service reserve account (kEUR)'
		}},

	}
});


const ctx12 = document.getElementById('myChart12');
const myChart12 = new Chart(ctx12, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'bar',
			label: 'Share capital contributions and reductions',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			borderWidth: 1
		},{
			type: 'bar',
			label: 'Shareholder loan drawdowns and repayments',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Dividends paid',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{
			type: 'line',
			yAxisID: 'z',
			label: 'Equity IRR',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			borderWidth: 1
		}

		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Shareholders cash flows (kEUR) and Equity IRR (%)'
		}},

		scales: {
			x: {
				stacked: true,
				position: 'left',

			},
			y: {
				stacked: true,
				position: 'left',

			},
			z: {
				position: 'right',
				ticks: {
                    callback: function (value) {
                        return value.toString() + '%';
                    }
                },
			},
		}
	}
});


const ctx13 = document.getElementById('myChart13');
const myChart13 = new Chart(ctx13, {
	data: {
		labels: ["1","2","3","4","5","6"],
		datasets: [{
			type: 'line',
			label: 'Retained earnings (BoP)',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(54, 162, 235, 0.2)',
			],
			borderColor: [
				'rgba(54, 162, 235, 0.75)',
			],
			borderWidth: 1
		},{

			type: 'line',
			label: 'Distribution account balance (BoP)',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
			],
			borderColor: [
				'rgba(255, 99, 132, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		},{

			type: 'bar',
			label: 'Dividends paid',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(75, 192, 192, 0.2)',
			],
			borderColor: [
				'rgba(75, 192, 192, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		}
		,{

			type: 'bar',
			label: 'Share capital reductions',
			data: [1,2,3,4,5,6],
			backgroundColor: [
				'rgba(255, 206, 86, 0.2)',
			],
			borderColor: [
				'rgba(255, 206, 86, 0.75)',
			],
			fill: 'origin',
			borderWidth: 1
		}
		]
	},
	options: {

		responsive:true,
		maintainAspectRatio: false,

	  plugins:{
		legend: {
			position: 'top',
		},

		 title: {
			display: true,
			text: 'Cash trap (kEUR)'
		}},

	}
});



</script>






