


    <div><canvas id="charthistoricalSOFR"></canvas></div>
	<div><canvas id="chartSOFR"></canvas></div>


<!-- Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<script>


const ctxcharthistoricalSOFR = document.getElementById('charthistoricalSOFR');
const charthistoricalSOFR = new Chart(ctxcharthistoricalSOFR, {
    data: {
        labels: ["1","2","3","4","5","6"],
        datasets: [{
            type: 'line',
            label: 'Total',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 0.75)',
            ],
            borderWidth: 1,
            pointRadius: 0,
        },
        ]
    },
    options: {

        responsive:true,
        maintainAspectRatio: false,

      plugins:{
        legend: {
            position: 'top',
        },

         title: {
            display: true,
            text: 'SOFR forward'
        }},

    }
});




const ctxchartSOFR = document.getElementById('chartSOFR');
const chartSOFR = new Chart(ctxchartSOFR, {
    data: {
        labels: ["1","2","3","4","5","6"],
        datasets: [{
            type: 'line',
            label: 'Total',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 0.75)',
            ],
            borderWidth: 1,
            pointRadius: 0,
        },
        ]
    },
    options: {

        responsive:true,
        maintainAspectRatio: false,

      plugins:{
        legend: {
            position: 'top',
        },

         title: {
            display: true,
            text: 'SOFR forward'
        }},

    }
});







</script>






