{% extends "base.html" %}

{% block sidebar %}

<nav id="sidebar">
    <div class="sidebar"><h3>{{ project.name }}</h3>

    	<form method="POST" id="post-form">{% csrf_token %}
			<div class="fieldWrapper" id="the_post">

				<div  class="btn-wrapper">
				<div class="d-flex justify-content-end">
				<input type="submit" value="Submit" class="btn btn-primary btn-lg" id="btn-form">
				</div>
				</div>

				<div class="accordion" id="accordionSidebar">
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingOne">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        Timing
				      </button>
				    </h2>
				    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        
				      <div class="row-inline-wrapper">
							    		<div class="row-inline-two">
											<h1>Start of construction</h1>
					        			</div>

							    		<div class="row-inline-two">
											<h1>End of construction</h1>
					        			</div>

					        		</div>

					        		<div class="row-inline-wrapper">
							    		<div class="row-inline-two">
							 		{{ project_form.start_construction }}
					        			</div>

							    		<div class="row-inline-two">
							 		{{ project_form.end_construction }}
					        			</div>

					        		</div>

					        		<div class="row-inline-wrapper">
							    		<div class="row-inline-two">
											<h1>Commissioning Date</h1>
					        			</div>

							    		<div class="row-inline-two">
							    			<div id="dateCOD"></div>
					        			</div>

					        		</div>

					        		<div class="row-inline-wrapper">
							    		<div class="row-inline-two">
											<h1>Operating life (years)</h1>
					        			</div>

							    		<div class="row-inline-two">
											{{ project_form.operating_life }}

					        			</div>

					        		</div>

					        		<div class="row-inline-wrapper">
							    		<div class="row-inline-two">
											<h1>Retirement</h1>
					        			</div>

							    		<div class="row-inline-two">
							    			<div id="dateRetirement"></div>
					        			</div>

					        		</div>

					        		<div class="row-inline-wrapper">
							    		<div class="row-inline-two">
							 				<h1>Periodicity</h1>
					        			</div>

							    		<div class="row-inline-two">
							 				{{ project_form.periodicity }}

					        			</div>

					        		</div>



				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingTwo">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        Capacity and Production
				      </button>
				    </h2>
				    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        <h5>Capacity and production Production</h5>

			    				<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Installed capacity (kWp)</h1>
					        		</div>
						    		<div class="row-inline-two">
											<h1>Annual degradation (%)</h1>
				        			</div>
					        	</div>

				        		<div class="row-inline-wrapper">
						    		<div class="row-inline-two">
						 				{{ project_form.panels_capacity }}
				        			</div>
						    		<div class="row-inline-two">
						 				{{ project_form.annual_degradation }}
				        			</div>
				        		</div>

			    				<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>P50 (kWp/kWh)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.p50 }}
				        			</div>
					        	</div>

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>p90_10y (kWp/kWh)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.p90_10y }}
				        			</div>
					        	</div>

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>P99_10y (kWp/kWh)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.P99_10y }}
				        			</div>
					        	</div>		


				        		<div class="row-inline-wrapper">
						    		<div class="row-inline-two">
						 				<h1>Production selected</h1>
				        			</div>

						    		<div class="row-inline-two">
						 				{{ project_form.production_choice }}

				        			</div>

					        	</div>

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Availability (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.availability }}
				        			</div>
					        	</div>	

					        	<h5>Seasonality</h5>
       									
       							<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Sum (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
							    			<div id="sumSeasonality"></div>
				        			</div>
					        	</div>


					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>January (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m1 }}
				        			</div>
					        	</div>

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>February (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m2 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>March (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m3 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>April (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m4 }}
				        			</div>
					        	</div>
					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>May (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m5 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>June (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m6 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>July (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m7 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>August (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m8 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>September (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m9 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>October (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m10 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>November (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m11 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>December (%)</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.seasonality_m12 }}
				        			</div>
					        	</div>	

				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingThree">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				        Construction costs
				      </button>
				    </h2>
				    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				       <h5>Monthly construction schedule</h5>

       							<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Sum (kEUR)</h1>
					        		</div>
						    		<div class="row-inline-two">
							    			<div id="sumConstructionCosts"></div>
				        			</div>
					        	</div>

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 1</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m1 }}

				        			</div>
					        	</div>

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 2</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m2 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 3</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m3 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 4</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m4 }}
				        			</div>
					        	</div>
					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 5</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m5 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 6</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m6 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 7</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m7 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 8</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m8 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 9</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m9 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 10</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m10 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 11</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m11 }}
				        			</div>
					        	</div>	

					        	<div class="row-inline-wrapper">
							    	<div class="row-inline-two">
											<h1>Month 12</h1>
					        		</div>
						    		<div class="row-inline-two">
											{{ project_form.costs_m12 }}
				        			</div>
					        	</div>	
				      </div>
				    </div>
				  </div>
				  
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingFour">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				        Offtake and Market prices
				      </button>
				    </h2>
				    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				    <h5>Offtake contract</h5>

				    		<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
									<h1>Start of contract</h1>
			        			</div>

					    		<div class="row-inline-two">
									<h1>End of contract</h1>
			        			</div>

					        </div>

			        		<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
					 				{{ project_form.start_contract }}
			        			</div>

					    		<div class="row-inline-two">
					 				{{ project_form.end_contract }}
			        			</div>

			        		</div>

				    		<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
									<h1>Contract start price</h1>
			        			</div>

					    		<div class="row-inline-two">
									<h1>{{ project_form.contract_price }}</h1>
			        			</div>

					        </div>
							
							<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
									<h1>Contract indexation base date</h1>
			        			</div>

					    		<div class="row-inline-two">
									<h1>Contract indexation p.a. (%)</h1>
			        			</div>

					        </div>

			        		<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
					 				{{ project_form.contract_indexation_start_date }}
			        			</div>

					    		<div class="row-inline-two">
					 				{{ project_form.contract_indexation }}
			        			</div>

			        		</div>
									<h5>Electricity market price</h5>

								
								<div class="row-inline-wrapper">
						    		<div class="row-inline-two">
										<h1>Electricity price indexation base date</h1>
				        			</div>

						    		<div class="row-inline-two">
										<h1>Electricity prices indexation rate (%)</h1>
				        			</div>

				        		</div>

				        		<div class="row-inline-wrapper">
						    		<div class="row-inline-two">
						 		{{ project_form.price_elec_indexation_start_date }}
				        			</div>

						    		<div class="row-inline-two">
						 		{{ project_form.price_elec_indexation }}
				        			</div>

				        		</div>

								<div class="row-inline-wrapper">
						    		<div class="row-inline-two">
						 				<h1>Electricity prices selected</h1>
				        			</div>

						    		<div class="row-inline-two">
						 				{{ project_form.price_elec_choice }}
				        			</div>

				        		</div>

			    				<div class="row-inline-wrapper">

							    	<div class="row-inline-four">
											<h1>Year</h1>
					        		</div>
						    		<div class="row-inline-four">
											<h1>Low</h1>
				        			</div>

				        			<div class="row-inline-four">
											<h1>Medium</h1>
				        			</div>

				        			<div class="row-inline-four">
											<h1>High</h1>
				        			</div>
					        	</div>

		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel1"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y1 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y1 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_high_y1 }}

				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel2"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y2 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y2 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y2 }}

				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel3"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y3 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y3 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y3 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel4"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y4 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y4 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y4 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel5"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y5 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y5 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y5 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel6"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y6 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y6 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y6 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel7"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y7 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y7 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y7 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel8"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y8 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y8 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y8 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel9"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y9 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y9 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y9 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel10"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y10 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y10 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y10 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel11"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y11 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y11 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y11 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel12"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y12 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y12 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y12 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel13"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y13 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y13 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y13 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel14"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y14 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y14 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y14 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel15"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y15 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y15 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y15 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel16"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y16 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y16 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y16 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel17"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y17 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y17 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y17 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel18"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y18 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y18 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y18 }}
				        			</div>
					        	</div>

		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel19"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y19 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y19 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y19 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel20"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y20 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y20 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y20 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel21"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y21 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y21 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y21 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel22"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y22 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y22 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y22 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel23"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y23 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y23 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y23 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel24"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y24 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y24 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y24 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel25"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y25 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y25 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y25 }}
				        			</div>
					        	</div>

		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel26"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y26 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y26 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y26 }}
				        			</div>
					        	</div>

		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel27"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y27 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y27 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y27 }}
				        			</div>
					        	</div>


		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel28"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y28 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y28 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y28 }}
				        			</div>
					        	</div>

		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel29"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y29 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y29 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y29 }}
				        			</div>
					        	</div>

		    				<div class="row-inline-wrapper">
							    	<div class="row-inline-four">
							    			<div id="elecPriceLabel30"></div>
					        		</div>
						    		<div class="row-inline-four">
											{{ project_form.price_elec_low_y30 }}
				        			</div>
				        			<div class="row-inline-four">
											{{ project_form.price_elec_med_y30 }}
				        			</div>
				        			<div class="row-inline-four">
				        					{{ project_form.price_elec_high_y30 }}
				        			</div>
					        	</div>
	

				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingFive">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				        Operating costs
				      </button>
				    </h2>
				    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				       <div class="row-inline-wrapper">
					    		<div class="row-inline-two">
									<h1>Operating costs indexation base date</h1>
			        			</div>

					    		<div class="row-inline-two">
									<h1>Operating costs indexation p.a. (%)</h1>
			        			</div>

					        </div>

			        		<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
					 				{{ project_form.opex_indexation_start_date }}
			        			</div>

					    		<div class="row-inline-two">
					 				{{ project_form.opex_indexation }}
			        			</div>

			        		</div>

							<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
									<h1>Operating costs p.a.</h1>
			        			</div>

					    		<div class="row-inline-two">
									<h1>{{ project_form.opex }}</h1>
			        			</div>

					        </div>
				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingSix">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				        HMR
				      </button>
				    </h2>
				    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingSeven">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				        Senior Debt
				      </button>
				    </h2>
				    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        	<h5>Timing</h5>

			    		<div class="row-inline-wrapper">
					    	<div class="row-inline-two">
									<h1>Door to door tenor</h1>
			        		</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_tenor }}
		        			</div>
			        	</div>
        				<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
								<h1>Maturity</h1>
		        			</div>

				    		<div class="row-inline-two">
				    			<div id="debtMaturity"></div>
		        			</div>

		        		</div>

					  		<h5>Pricing</h5>
		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Upfront fee</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_upfront_fee }}
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Commitment fee</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_commitment_fee }}
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Credit margin</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_margin }}
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Swap rate</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_swap_rate }}
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Reference rate buffer</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_reference_rate_buffer }}
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Swap margin</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_swap_margin }}
		        			</div>
		        		</div>

					  		<h5>Sizing</h5>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Minimum DSCR</h1>
		        			</div>
				    		<div class="row-inline-two">
									<h1>Maximum gearing</h1>
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
				 				{{ project_form.debt_target_DSCR }}
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_gearing_max }}
		        			</div>
		        		</div>

		        		<div class="row-inline-wrapper">
				    		<div class="row-inline-two">
									<h1>Negative tail</h1>
		        			</div>
				    		<div class="row-inline-two">
				 				{{ project_form.debt_negative_tail }}
		        			</div>
		        		</div>

				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingEight">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
				        Tax
				      </button>
				    </h2>
				    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        	<div class="row-inline-wrapper">
					    		<div class="row-inline-two">
										<h1>Corporate income tax (%)</h1>
			        			</div>
					    		<div class="row-inline-two">
					 				{{ project_form.corporate_income_tax }}
			        			</div>
				      		</div>
				   	 </div>
				  	</div>
				  	</div>

				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingNine">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
				        Accounting
				      </button>
				    </h2>
				    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingTen">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
				        Equity
				      </button>
				    </h2>
				    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
				        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				      </div>
				    </div>
				  </div>				  


				  <div class="accordion-item">
				    <h2 class="accordion-header" id="headingEleven">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
				        Macro
				      </button>
				    </h2>
				    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionSidebar">
				      <div class="accordion-body">
								        		{{ project_form.name }}

				      </div>
				    </div>
				  </div>	
				</div>

	  			</div>
	  		</div>
  		</form>  
  	</div>
</nav>

{% endblock %}

{% block content %}

<div id="content">
	<nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        	<button type="button" id="sidebarCollapse" class="btn btn-primary btn-lg"><</button>
        </div>
    </nav>

	<nav>
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="#nav-summary" data-bs-toggle="tab">Summary</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#nav-calculation" data-bs-toggle="tab">Calculation</a>
		  </li>
		</ul>
	</nav>

	<div class="tab-content">
  		<div class="tab-pane active" id="nav-summary" role="tabpanel" aria-labelledby="home-tab">
  			
  			<h2>Summary</h2>
  			  <div class="summary-container">

  				<div class="summary">
			  		<table class="table">
						<tbody id="summary_debt"></tbody>
					</table>
  				</div>
  				<div class="summary">
			  		<table class="table">
						<tbody id="summary_equity"></tbody>
					</table>  				
				</div> 				
  				</div> 				

  			<h2>Graphs</h2>
	 		{% block jquery %}{% include 'charts.html' %}{% endblock %}

		</div>

		<div class="tab-pane" id="nav-calculation" role="tabpanel" aria-labelledby="messages-tab">
	  		<h2>Timeline</h2>

				<table class="table">
					<tbody id="myTableDate"></tbody>
				</table>

				<table class="table">
					<tbody id="myTableFlag"></tbody>
				</table>

				<table class="table">
					<tbody id="myTableTimeline"></tbody>
				</table>

	  		<h2>Indexation</h2>
				<table class="table">
					<tbody id="myTableIndexation"></tbody>
				</table>

  			<h2>Income statement</h2>
				<table class="table">
					<tbody id="myTableIS"></tbody>
				</table>
 			
 			<h2>Financing plan</h2>
 				<p>Uses</p>
		 			<table class="table">
						<tbody id="myTableFPUses"></tbody>
					</table>

 				<p>Sources</p>
	 			<table class="table">
					<tbody id="myTableFPSources"></tbody>
				</table>

 			<h2>Cash flow statement</h2>
	 			<table class="table">
					<tbody id="myTableCF"></tbody>
				</table>

 			<h2>Senior debt</h2>
 			<table class="table">
				<tbody id="myTableSeniorDebt"></tbody>
			</table>

			<h2>Sizing and sculpting</h2>
 			<table class="table">
				<tbody id="myTableSizing"></tbody>
			</table>

			<h2>Balance sheet</h2>
				<p>Assets</p>
		 			<table class="table">
						<tbody id="myTableBalanceSheetAssets"></tbody>
					</table>

				<p>Liabilities</p>
		 			<table class="table">
						<tbody id="myTableBalanceSheetLiabilities"></tbody>
					</table>

			<h2>Audit</h2>
	 			<table class="table">
					<tbody id="myTableAudit"></tbody>
				</table>

	  		<table class="table">
					<tbody id="myTableAll"></tbody>
			</table>
	 	</div>
    </div>
</div>



<script type="text/javascript">

	$(document).ready(function(){
    	$("#post-form").submit();
	});

	

	$(document).on('submit','#post-form', function(e){

		e.preventDefault(),
		$.ajax({
			type:'POST',
			url:"",
			data: $(this).serialize(),
			success:function(json){
				console.log(json);

  				var result_date = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_date")) {
	  					result_date += "<tr>";
	  					result_date += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_date += "<td>" + data + "</td>";
	    				});
	  					result_date += "</tr>";
  					}
  				});
  				$("#myTableDate").html(result_date);

  				var result_flag = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_flag")) {
	  					result_flag += "<tr>";
	  					result_flag += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_flag += "<td>" + data + "</td>";
	    				});
	  					result_flag += "</tr>";
  					}
  				});
  				$("#myTableFlag").html(result_flag);

  				var result_timeline = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_time")) {
	  					result_timeline += "<tr>";
	  					result_timeline += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_timeline += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_timeline += "</tr>";
  					}
  				});
  				$("#myTableTimeline").html(result_timeline);

  				var result_indexation = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_indexation")) {
	  					result_indexation += "<tr>";
	  					result_indexation += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_indexation += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_indexation += "</tr>";
  					}
  				});
  				$("#myTableIndexation").html(result_indexation);


				var result_IS = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_is")) {
	  					result_IS += "<tr>";
	  					result_IS += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_IS += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_IS += "</tr>";
  					}
  				});
  				$("#myTableIS").html(result_IS);


   				var result_FP_uses = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_fp_uses")) {
	  					result_FP_uses += "<tr>";
	  					result_FP_uses += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_FP_uses += "<td>" + data + "</td>";
	    				});
	  					result_FP_uses += "</tr>";
  					}
  				});
  				$("#myTableFPUses").html(result_FP_uses);
  				
  				var result_FP_sources = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_fp_sources")) {
	  					result_FP_sources += "<tr>";
	  					result_FP_sources += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_FP_sources += "<td>" + data + "</td>";
	    				});
	  					result_FP_sources += "</tr>";
  					}
  				});
  				$("#myTableFPSources").html(result_FP_sources);

  				var result_CF = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_cash_flow")) {
	  					result_CF += "<tr>";
	  					result_CF += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_CF += "<td>" + data + "</td>";
	    				});
	  					result_CF += "</tr>";
  					}
  				});
  				$("#myTableCF").html(result_CF);

  				var result_Sizing = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_sizing")) {
	  					result_Sizing += "<tr>";
	  					result_Sizing += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_Sizing += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_Sizing += "</tr>";
  					}
  				});

  				$("#myTableSizing").html(result_Sizing);


  				var result_SD = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_debt")) {
	  					result_SD += "<tr>";
	  					result_SD += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_SD += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_SD += "</tr>";
  					}
  				});
  				$("#myTableSeniorDebt").html(result_SD);

   				var result_BS_assets = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_assets")) {
	  					result_BS_assets += "<tr>";
	  					result_BS_assets += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_BS_assets += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_BS_assets += "</tr>";
  					}
  				});
  				$("#myTableBalanceSheetAssets").html(result_BS_assets);

   				var result_BS_liabilities = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("arr_liabilities")) {
	  					result_BS_liabilities += "<tr>";
	  					result_BS_liabilities += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_BS_liabilities += "<td>" + data.toFixed(2) + "</td>";
	    				});
	  					result_BS_liabilities += "</tr>";
  					}
  				});
  				$("#myTableBalanceSheetLiabilities").html(result_BS_liabilities);

  				var result_all = '';
  				$.each(json, function(key, data) {
  					result_all += "<tr>";
  					result_all += "<td>" + key + "</td>";
  					$.each(data, function(index, data) {
    					result_all += "<td>" + data + "</td>";
    				});
  					result_all += "</tr>";
  				});
  				$("#myTableAll").html(result_all);

  				var result_summary_debt = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("summary_debt")) {
	  					result_summary_debt += "<tr>";
	  					result_summary_debt += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_summary_debt += "<td>" + data + "</td>";
	    				});
	  					result_summary_debt += "</tr>";
  					}
  				});
  				$("#summary_debt").html(result_summary_debt);

   				var result_Audit = '';
  				$.each(json, function(key, data) {
  					if(key.startsWith("audit")) {
	  					result_Audit += "<tr>";
	  					result_Audit += "<td>" + key + "</td>";
	  					$.each(data, function(index, data) {
	    					result_Audit += "<td>" + data + "</td>";
	    				});
	  					result_Audit += "</tr>";
  					}
  				});
  				$("#myTableAudit").html(result_Audit);


  				$("#dateCOD").html(json.data_dump_sidebar[0]);
  				$("#dateRetirement").html(json.data_dump_sidebar[1]);
  				$("#sumSeasonality").html(json.data_dump_sidebar[2]);
  				$("#sumConstructionCosts").html(json.data_dump_sidebar[3]);
  				$("#debtMaturity").html(json.data_dump_sidebar[4]);

  				$("#elecPriceLabel1").html(json.arr_years_electricity_prices[0]);
  				$("#elecPriceLabel2").html(json.arr_years_electricity_prices[1]);
  				$("#elecPriceLabel3").html(json.arr_years_electricity_prices[2]);
  				$("#elecPriceLabel4").html(json.arr_years_electricity_prices[3]);
  				$("#elecPriceLabel5").html(json.arr_years_electricity_prices[4]);
  				$("#elecPriceLabel6").html(json.arr_years_electricity_prices[5]);
  				$("#elecPriceLabel7").html(json.arr_years_electricity_prices[6]);
  				$("#elecPriceLabel8").html(json.arr_years_electricity_prices[7]);
  				$("#elecPriceLabel9").html(json.arr_years_electricity_prices[8]);
  				$("#elecPriceLabel10").html(json.arr_years_electricity_prices[9]);
  				$("#elecPriceLabel11").html(json.arr_years_electricity_prices[10]);
  				$("#elecPriceLabel12").html(json.arr_years_electricity_prices[11]);
  				$("#elecPriceLabel13").html(json.arr_years_electricity_prices[12]);
  				$("#elecPriceLabel14").html(json.arr_years_electricity_prices[13]);
  				$("#elecPriceLabel15").html(json.arr_years_electricity_prices[14]);
  				$("#elecPriceLabel16").html(json.arr_years_electricity_prices[15]);
  				$("#elecPriceLabel17").html(json.arr_years_electricity_prices[16]);
  				$("#elecPriceLabel18").html(json.arr_years_electricity_prices[17]);
  				$("#elecPriceLabel19").html(json.arr_years_electricity_prices[18]);
  				$("#elecPriceLabel20").html(json.arr_years_electricity_prices[19]);
  				$("#elecPriceLabel21").html(json.arr_years_electricity_prices[20]);
  				$("#elecPriceLabel22").html(json.arr_years_electricity_prices[21]);
  				$("#elecPriceLabel23").html(json.arr_years_electricity_prices[22]);
  				$("#elecPriceLabel24").html(json.arr_years_electricity_prices[23]);
  				$("#elecPriceLabel25").html(json.arr_years_electricity_prices[24]);
  				$("#elecPriceLabel26").html(json.arr_years_electricity_prices[25]);
  				$("#elecPriceLabel27").html(json.arr_years_electricity_prices[26]);
  				$("#elecPriceLabel28").html(json.arr_years_electricity_prices[27]);
  				$("#elecPriceLabel29").html(json.arr_years_electricity_prices[28]);
  				$("#elecPriceLabel30").html(json.arr_years_electricity_prices[29]);



  				myChart.data.labels = json.arr_time_end_period;
  				myChart.data.datasets[0].data = json.production;
  				myChart.data.datasets[1].data = json.arr_degradation;
				myChart.update()

  				myChart2.data.datasets[0].data = json.seasonality;
				myChart2.update()

  				myChart3.data.labels = json.arr_time_end_period;
  				myChart3.data.datasets[0].data = json.arr_is_revenues_contracted;
  				myChart3.data.datasets[1].data = json.arr_is_revenues_merchant;
				myChart3.update()

  				myChart4.data.labels = json.arr_time_end_period;
  				myChart4.data.datasets[0].data = json.arr_is_operating_costs;
				myChart4.update()

				myChart5.data.labels = json.arr_time_end_period;
  				myChart5.data.datasets[0].data = json.arr_is_EBITDA;
  				myChart5.data.datasets[1].data = json.arr_is_EBITDA_margin;
				myChart5.update()

				myChart6.data.labels = json.arr_time_end_period_financing_plan;
  				myChart6.data.datasets[0].data = json.arr_fp_uses_construction_costs;
  				myChart6.data.datasets[1].data = json.arr_assets_cumul_construction_costs;
				myChart6.update()

				myChart7.data.labels = json.arr_time_end_period;
  				myChart7.data.datasets[0].data = json.arr_debt_interest;
  				myChart7.data.datasets[1].data = json.arr_debt_repayment;
   				myChart7.data.datasets[2].data = json.arr_ratios_DSCR;
				myChart7.update()

				myChart8.data.labels = json.arr_time_end_period;
  				myChart8.data.datasets[0].data = json.arr_debt_service;
  				myChart8.data.datasets[1].data = json.arr_sizing_CFADS;
				myChart8.update()

			},
			error: function(){
				alert('error Ajax')
			}
		});
	    return false;
	});

</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal-dark"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            if ($(this).text() == '<') {
                $(this).text('>');
            } else {
                $(this).text('<');
            }
        });

    });
    
</script>


{% endblock %}


