{% extends "base.html" %}



{% block sidebar %}

<nav id="sidebar">
	<div class="sidebar"><h1>{{ project.name }}</h1>

		<form method="POST" id="post-form">{% csrf_token %}
			<div class="fieldWrapper" id="the_post">

				<div  class="btn-wrapper">
				<input type="submit" value="Run" class="button" id="btn-form">
				</div>

				<div class="accordion" id="accordionSidebar">
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Timeline
					  </button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">

					<h3>Construction schedule</h3>
						<div class="row-inline-wrapper">
							<div class="row-inline-three-first">
									<p>Notice to proceed</p>
							</div>
							<div class="row-inline-three-second">
									<p>date</p>
							</div>
							<div class="row-inline-three">
									{{ project_form.start_construction }}
							</div>
						</div>

						<div class="row-inline-wrapper">
							<div class="row-inline-three-first">
									<p>End of construction</p>
							</div>
							<div class="row-inline-three-second">
									<p>date</p>
							</div>
							<div class="row-inline-three">
									{{ project_form.end_construction }}
							</div>
						</div>

						<h3>Operating period</h3>
						<div class="row-inline-wrapper">
							<div class="row-inline-three-first">
									<p>COD</p>
							</div>
							<div class="row-inline-three-second">
									<p>date</p>
							</div>
							<div class="row-inline-three">
									<div id="dateCOD"></div>
							</div>
						</div>		

						<div class="row-inline-wrapper">
							<div class="row-inline-three-first">
									<p>Operating life</p>
							</div>
							<div class="row-inline-three-second">
									<p>years</p>
							</div>
							<div class="row-inline-three">
									{{ project_form.operating_life }}
							</div>
						</div>			

					<div class="row-inline-wrapper">
							<div class="row-inline-three-first">
									<p>End of operations</p>
							</div>
							<div class="row-inline-three-second">
									<p>date</p>
							</div>
							<div class="row-inline-three">
									<div id="dateRetirement"></div>
							</div>
						</div>		
						
						<h3>Liquidation</h3>
						<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
											<p>Delay to liquidation</p>
									</div>
									<div class="row-inline-three-second">
											<p>months</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.liquidation }}
									</div>
								</div>	

									
						<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
											<p>Liquidation date</p>
									</div>
									<div class="row-inline-three-second">
											<p>date</p>
									</div>
									<div class="row-inline-three">
											<div id="dateLiquidation"></div>
									</div>
								</div>	

								
					  </div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Capacity and Production
					  </button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">
						<h3>Capacity and production</h3>

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Installed capacity</p>
									</div>
									<div class="row-inline-three-second">
											<p>kWp</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.panels_capacity }}
									</div>
								</div>

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Annual degradation</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.annual_degradation }}
									</div>
								</div>


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
										<p>Production scenario</p>
									</div>
									<div class="row-inline-three-second">
											<p>P</p>
									</div>	
									<div class="row-inline-three">
										{{ project_form.production_choice }}

									</div>

								</div>


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>P50</p>
									</div>
									<div class="row-inline-three-second">
											<p>hours p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.p50 }}
									</div>
								</div>

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>P90 10y</p>
									</div>
									<div class="row-inline-three-second">
											<p>hours p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.p90_10y }}
									</div>
								</div>

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>P99 10y</p>
									</div>
									<div class="row-inline-three-second">
											<p>hours p.a.</p>
									</div>

									<div class="row-inline-three">
											{{ project_form.P99_10y }}
									</div>
								</div>		



								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Availability</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>									
									<div class="row-inline-three">
											{{ project_form.availability }}
									</div>
								</div>	

								<h3>Seasonality</h3>
										


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>January</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m1 }}
									</div>
								</div>

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>February</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m2 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>March</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m3 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>April</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m4 }}
									</div>
								</div>
								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>May</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m5 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>June</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m6 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>July</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m7 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>August</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m8 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>September</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m9 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>October</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m10 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>November</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m11 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>December</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.seasonality_m12 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first-underlined">
											<p>Total</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											<div id="sumSeasonality"></div>
									</div>
								</div>


					  </div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Construction costs
					  </button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">

					   <h3>Development fee</h3>

		
								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Optimisation</p>
									</div>
									<div class="row-inline-three-second">
											<p>choice</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.devfee_choice }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Portion paid at FC</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.devfee_paid_FC }}
									</div>
								</div>	


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Portion paid at COD</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.devfee_paid_COD }}
									</div>
								</div>	


					

					   <h3>Monthly construction schedule</h3>


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 1</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m1 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 2</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m2 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 3</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m3 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 4</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m4 }}
									</div>
								</div>	


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 5</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m5 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 6</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m6 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 7</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m7 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 8</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m8 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 9</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m9 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 10</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m10 }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 11</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m11 }}
									</div>
								</div>	


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Month 12</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.costs_m12 }}
									</div>
								</div>	


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first-underlined">
											<p>Total</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR</p>
									</div>
									<div class="row-inline-three">
											<div id="sumConstructionCosts"></div>
									</div>
								</div>	

								

					  </div>
					</div>
				  </div>
				  
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						Offtake and Market prices
					  </button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">
					<h3>Offtake contract</h3>

					

							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Start of contract</p>
								</div>
								<div class="row-inline-three-second">
										<p>date</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.start_contract }}
								</div>
							</div>	


							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>End of contract</p>
								</div>
								<div class="row-inline-three-second">
										<p>date</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.end_contract }}
								</div>
							</div>	

							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Reference price</p>
								</div>
								<div class="row-inline-three-second">
										<p>EUR</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.contract_price }}
								</div>
							</div>

														
							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Indexation base date</p>
								</div>
								<div class="row-inline-three-second">
										<p>date</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.contract_indexation_start_date }}
								</div>
							</div>

							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Indexation rate</p>
								</div>
								<div class="row-inline-three-second">
										<p>% p.a.</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.contract_indexation }}
								</div>
							</div>


									<h3>Market prices</h3>

								
							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Indexation base date</p>
								</div>
								<div class="row-inline-three-second">
										<p>date</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.price_elec_indexation_start_date }}
								</div>
							</div>

							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Indexation rate</p>
								</div>
								<div class="row-inline-three-second">
										<p>% p.a.</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.price_elec_indexation }}
								</div>
							</div>

							<div class="row-inline-wrapper">
								<div class="row-inline-three-first">
										<p>Market price scenario</p>
								</div>
								<div class="row-inline-three-second">
										<p>choice</p>
								</div>
								<div class="row-inline-three">
										{{ project_form.price_elec_choice }}
								</div>
							</div>

			
								<div class="row-inline-wrapper">

									<div class="row-inline-four">
											<p>Year</p>
									</div>
									<div class="row-inline-four">
											<p>Low</p>
									</div>

									<div class="row-inline-four">
											<p>Medium</p>
									</div>

									<div class="row-inline-four">
											<p>High</p>
									</div>
								</div>

							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel0"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y1 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y1 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y1 }}

									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel1"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y2 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y2 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y2 }}

									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel2"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y3 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y3 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y3 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel3"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y4 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y4 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y4 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel4"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y5 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y5 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y5 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel5"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y6 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y6 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y6 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel6"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y7 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y7 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y7 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel7"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y8 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y8 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y8 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel8"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y9 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y9 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y9 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel9"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y10 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y10 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y10 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel10"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y11 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y11 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y11 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel11"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y12 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y12 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y12 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel12"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y13 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y13 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y13 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel13"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y14 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y14 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y14 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel14"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y15 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y15 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y15 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel15"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y16 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y16 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y16 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel16"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y17 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y17 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y17 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel17"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y18 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y18 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y18 }}
									</div>
								</div>

							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel18"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y19 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y19 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y19 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel19"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y20 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y20 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y20 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel20"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y21 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y21 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y21 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel21"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y22 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y22 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y22 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel22"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y23 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y23 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y23 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel23"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y24 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y24 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y24 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel24"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y25 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y25 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y25 }}
									</div>
								</div>

							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel25"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y26 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y26 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y26 }}
									</div>
								</div>

							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel26"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y27 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y27 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y27 }}
									</div>
								</div>


							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel27"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y28 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y28 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y28 }}
									</div>
								</div>

							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel28"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y29 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y29 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y29 }}
									</div>
								</div>

							<div class="row-inline-wrapper">
									<div class="row-inline-four">
											<div id="elecPriceLabel29"></div>
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_low_y30 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_med_y30 }}
									</div>
									<div class="row-inline-four">
											{{ project_form.price_elec_high_y30 }}
									</div>
								</div>
	

					  </div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingFive">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						Operating costs
					  </button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Operating costs</p>
									</div>
									<div class="row-inline-three-second">
											<p>kEUR p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.opex }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Indexation base date</p>
									</div>
									<div class="row-inline-three-second">
											<p>date</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.opex_indexation_start_date }}
									</div>
								</div>	

								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Indexation rate</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.opex_indexation }}
									</div>
								</div>	

			
					  </div>
					</div>
				  </div>

				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingSeven">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						Senior Debt facilities
					  </button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">
							<h3>Term loan timeline</h3>

						


								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Door-to-door tenor</p>
									</div>
									<div class="row-inline-three-second">
											<p>years</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_tenor }}
									</div>
								</div>	



								<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Maturity</p>
									</div>
									<div class="row-inline-three-second">
											<p>date</p>
									</div>
									<div class="row-inline-three">
											<div id="debtMaturity"></div>
									</div>
								</div>	

							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Periodicity</p>
									</div>
									<div class="row-inline-three-second">
											<p>choice</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.periodicity }}
									</div>
								</div>	

							<h3>Sizing constraints</h3>


							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Maximum gearing</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_gearing_max }}
									</div>
								</div>		

							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Minimum ADSCR</p>
									</div>
									<div class="row-inline-three-second">
											<p>x</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_target_DSCR }}
									</div>
								</div>		

							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Negative tail</p>
									</div>
									<div class="row-inline-three-second">
											<p>years</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_negative_tail }}
									</div>
								</div>				

							<h3>Fees and margins</h3>

							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Upfront fee</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_upfront_fee }}
									</div>
								</div>	

							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Commitment fee</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_commitment_fee }}
									</div>
								</div>	

					<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Credit margin</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_margin }}
									</div>
								</div>						

					<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Swap rate</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_swap_rate }}
									</div>
								</div>		

						<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Reference rate buffer</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_reference_rate_buffer }}
									</div>
								</div>		
					
							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Swap margin</p>
									</div>
									<div class="row-inline-three-second">
											<p>% p.a.</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.debt_swap_margin }}
									</div>
								</div>		
					
					



				
					  </div>
					</div>
				  </div>
				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingEight">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
						Tax
					  </button>
					</h2>
					<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">


							<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Income tax rate</p>
									</div>
									<div class="row-inline-three-second">
											<p>%</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.corporate_income_tax }}
									</div>
								</div>	

						
					 </div>
					</div>
					</div>

				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingNine">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
						Accounting
					  </button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">
						<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
					  </div>
					</div>
				  </div>

				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingTen">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
						Equity
					  </button>
					</h2>
					<div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">
						<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
					  </div>
					</div>
				  </div>				  


				  <div class="accordion-item">
					<h2 class="accordion-header" id="headingEleven">
					  <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
						Project details
					  </button>
					</h2>
					<div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionSidebar">
					  <div class="accordion-body">

					 			<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Project name</p>
									</div>
									<div class="row-inline-three-second">
											<p>text</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.name }}
									</div>
								</div>	

		 			<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Project type</p>
									</div>
									<div class="row-inline-three-second">
											<p>choice</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.technology }}
									</div>
								</div>	

		 			<div class="row-inline-wrapper">
									<div class="row-inline-three-first">
											<p>Country</p>
									</div>
									<div class="row-inline-three-second">
											<p>choice</p>
									</div>
									<div class="row-inline-three">
											{{ project_form.country }}
									</div>
								</div>	
											


					  </div>
					</div>
				  </div>	
				</div>

				</div>
			</div>
		</form>  
	</div>
</nav>

{% endblock %}

{% block content %}

<div id="content">
	<div id="content-nav">

		<nav>
			<div class="container-nav">
				<button type="button" id="sidebarCollapse" class="button"><</button>
			</div>
		</nav>

	</div>

	<div id="content-box">
		<nav>
			<ul class="nav nav-tabs">
			  <li class="nav-item">
				<a class="nav-link active" href="#nav-summary" data-bs-toggle="tab">Summary</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#nav-calculation" data-bs-toggle="tab">Calculation</a>
			  </li>
			</ul>
		</nav>

		<div class="tab-content">
			<div class="tab-pane active" id="nav-summary" role="tabpanel" aria-labelledby="home-tab">
				
				<div class="nav-summary">
					<div class="summary-container-left">
						<div class="box" id="summary-fp">
							<h2>Financing plan</h2>

							<div class="summary-container-titles">
								<div class="summary-titles">
									<h4>Uses</h4>
								</div>
								<div class="summary-titles">
									<h4>Sources</h4>
								</div>								
							</div>

							<div class="summary-container">
								<div class="summary">
									<table class="table">
										<tbody id="summary_financing_plan_uses"></tbody>
									</table>
								</div>

								<div class="summary">
									<table class="table">
										<tbody id="summary_financing_plan_sources"></tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="box" id="summary-financing">
							<h2>Financing terms</h2>
	
						</div>


					</div>

					<div class="summary-container-right">

						<div class="box" id="summary-IRR">
							<h2>Project IRR and Equity IRR</h2>
									<h4>Project IRR</h4>


									<h4>Equity IRR</h4>
										<table class="table">
											<tbody id="summary_equity"></tbody>
										</table>  
											
					
						</div>

						<div class="box" id="summary-debt">
							<h2>Debt summary</h2>
										<table class="table">
											<tbody id="summary_debt"></tbody>
										</table>
						</div>


				
						<div class="box" id="summary-audit">
							<h2>Audit</h2>
									<table class="table">
										<tbody id="summary_audit"></tbody>
									</table>
						</div>
					</div>
				</div>



				<div class="box" id="nav-summary-charts">
					{% block jquery %}{% include 'charts.html' %}{% endblock %}
				</div>

			</div>

			<div class="tab-pane" id="nav-calculation" role="tabpanel" aria-labelledby="messages-tab">
				
				<div class="box">

				<h2>Timeline, Counters and Flags</h2>
				

					<table class="table">
						<tbody id="myTableDate"></tbody>
					</table>

				<h3>Project timeline</h3>

				<h4>Model timeline</h4>
					
					<table class="table">
						<tbody id="myTableFlagMod"></tbody>
					</table>


				<h4>Construction</h4>

					<table class="table">
						<tbody id="myTableFlagCons"></tbody>
					</table>

				<h4>Operating period</h4>


					<table class="table">
						<tbody id="myTableFlagOp"></tbody>
					</table>


				<h4>Offtake contract</h4>
					
					<table class="table">
						<tbody id="myTableOftk"></tbody>
					</table>

					<table class="table">
						<tbody id="myTableTime"></tbody>
					</table>


				<h3>Financing</h3>

				<h2>Indexation</h2>
					<table class="table">
						<tbody id="myTableIndex"></tbody>
					</table>

				<h2>Production</h2>
					<p>Production</p>


					<table class="table">
						<tbody id="myTableProd"></tbody>
					</table>

					<p>Prices</p>

					<table class="table">
						<tbody id="myTablePrice"></tbody>
					</table>



				<h2>Income statement</h2>
					<table class="table">
						<tbody id="myTableIS"></tbody>
					</table>


				<h2>Operating account</h2>
					<p>Cash flow from operating activities</p>

					<table class="table">
						<tbody id="myTableCF_operating"></tbody>
					</table>

					<p>Cash flow from investing activities</p>
				
					<table class="table">
						<tbody id="myTableCF_inesting"></tbody>
					</table>

					<p>Cash flow from financing activities</p>

					<table class="table">
						<tbody id="myTableCF_fiancing"></tbody>
					</table>
					
					<p>Cash available for senior debt service</p>

					<table class="table">
						<tbody id="myTableCFADS"></tbody>
					</table>


				<h2>Distribution account</h2>

					<table class="table">
						<tbody id="myTableRE"></tbody>
					</table> 			


				<table class="table">
						<tbody id="DistrAccount"></tbody>
				</table>

				<h2>Financing plan</h2>
					<p>Uses</p>
						<table class="table">
							<tbody id="myTableFPUses"></tbody>
						</table>

					<p>Sources</p>
					<table class="table">
						<tbody id="myTableFPSources"></tbody>
					</table>


				<h2>Senior debt</h2>
				<table class="table">
					<tbody id="myTableSeniorDebt"></tbody>
				</table>

				<h2>Sizing and sculpting</h2>
				<table class="table">
					<tbody id="myTableSizing"></tbody>
				</table>

				<h2>Balance sheet</h2>
					<p>Assets</p>
						<table class="table">
							<tbody id="myTableBSA"></tbody>
						</table>

					<p>Liabilities</p>
						<table class="table">
							<tbody id="myTableBSL"></tbody>
						</table>

				<h2>Audit</h2>
					<table class="table">
						<tbody id="myTableAudit"></tbody>
					</table>

				<table class="table">
						<tbody id="myTableAll"></tbody>
				</table>

				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">

	$(document).ready(function(){
		$("#post-form").submit();
	});


	$(document).on('submit','#post-form', function(e){


		const numberFormat = new Intl.NumberFormat();
		const currencyFormat = new Intl.NumberFormat('fr-FR', {
													  style: 'currency',
													  currency: 'EUR',
													  currencySign: 'accounting',
													});

		var stringFromat = new String();

		function formatAsPercent(num) {
			return new Intl.NumberFormat('default', {
			style: 'percent',
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		  }).format(num);
		}

		var option = {
		   style: 'percent',
		   minimumFractionDigits: 2,
		   maximumFractionDigits: 2
		};

		var percFormat = new Intl.NumberFormat("en-US",option);

		function build_table(json_input,div_output) {
			var table_result = []
					$.each(json_input, function(key, data) {
						table_result += "<tr>";
						table_result += "<td>" + key + "</td>";
					$.each(data, function(index, data) {
						table_result += "<td>" + data + "</td>";
					});
						table_result += "</tr>";
			});
		$(div_output).html(table_result);
		}


		e.preventDefault(),
		$.ajax({
			type:'POST',
			url:"",
			data: $(this).serialize(),
			success:function(json){
				console.log(json);

				var results = []

				const dict = {
				  Date: { selector: "#myTableDate", format: "" },
				  FlagMod: { selector: "#myTableFlagMod", format: numberFormat },
				  FlagCons: { selector: "#myTableFlagCons", format: numberFormat },
				  FlagOp: { selector: "#myTableFlagOp", format: numberFormat },
				  FlagOftk: { selector: "#myTableOftk", format: numberFormat },
				  arr_time: { selector: "#myTableTime", format: numberFormat },
				  Prod: { selector: "#myTableProd", format: numberFormat },
				  arr_index: { selector: "#myTableIndex", format: numberFormat },
				  IS: { selector: "#myTableIS", format: currencyFormat },
				  Price: { selector: "#myTablePrice", format: currencyFormat },
				  arr_sizing: { selector: "#myTableSizing", format: currencyFormat },
				  Debt: { selector: "#myTableSeniorDebt", format: currencyFormat },
				  CF_op: { selector: "#myTableCF_operating", format: currencyFormat },
				  CF_in: { selector: "#myTableCF_inesting", format: currencyFormat },
				  CF_fi: { selector: "#myTableCF_fiancing", format: currencyFormat },
				  FP_u: { selector: "#myTableFPUses", format: currencyFormat },
				  FP_s: { selector: "#myTableFPSources", format: currencyFormat },
				  CFADS: { selector: "#myTableCFADS", format: currencyFormat },
				  Distr: { selector: "#DistrAccount", format: currencyFormat },
				  RE: { selector: "#myTableRE", format: currencyFormat },
				  BS_a: { selector: "#myTableBSA", format: currencyFormat },
				  BS_l: { selector: "#myTableBSL", format: currencyFormat },
				  Audit: { selector: "#myTableAudit", format: currencyFormat }
				};

				for (const key in dict) {
				  const entry = dict[key];
				  const { selector, format } = entry;
				  const dictKey = key;
				  let tableContent = "";

				  $.each(json.df, function (dataKey, data) {
				    if (dataKey.startsWith(dictKey)) {
				      tableContent += "<tr>";
				      tableContent += "<td>" + dataKey.substring(dictKey.length) + "</td>";
				      tableContent += "<td>" + numberFormat.format(json.df_sum[dataKey]) + "</td>";

				      $.each(data, function (index, dataValue) {
				        tableContent += "<td>";
				        if (key === "Date") {
				          tableContent += dataValue;
				        } else {
				          tableContent += format.format(dataValue);
				        }
				        tableContent += "</td>";
				      });

				      tableContent += "</tr>";
				    }
				  });

				  $(selector).html(tableContent);
				}


				const tables = [
				  { data: json.df_result, selector: "#summary_debt" },
				  { data: json.df_result_equity, selector: "#summary_equity" },
				  { data: json.df_audit, selector: "#summary_audit" },
				  { data: json.df_result_fp_uses, selector: "#summary_financing_plan_uses" },
				  { data: json.df_result_fp_sources, selector: "#summary_financing_plan_sources" }
				];

				tables.forEach(table => build_table(table.data, table.selector));


				$("#myTableAll").html();

				for (var i = 0; i < 30; i++) {
					$("#elecPriceLabel"+i).html(json.dic_price_elec_keys[i]);
				}

				var dict_sidebar = {
				formatted_date_COD:"#dateCOD",
				formatted_date_operations_end:"#dateRetirement",
				sum_seasonality:"#sumSeasonality",
				sum_construction_costs:"#sumConstructionCosts",
				formatted_date_liquidation:"#dateLiquidation",
				date_debt_maturity:"#debtMaturity",

				};

				for (var i = 0; i < Object.keys(dict_sidebar).length; i++) {
					$(Object.values(dict_sidebar)[i]).html(json.data_dump_sidebar[i]);
				}


				function updateChart(chart, datasets) {
					chart.data.labels = Object.values(json.df['Date Period end']);
					datasets.forEach((data, index) => {
						chart.data.datasets[index].data = data;
					});
					chart.update();
				}

				const datasets = [
				  [Object.values(json.df['Prod Production']), Object.values(json.df['Prod Capacity degradation'])],
				  [Object.values(json.df['IS Contracted revenues']), Object.values(json.df['IS Uncontracted electricity revenues'])],
				  [Object.values(json.df['IS Operating expenses']).map(value => value * -1)],
				  [Object.values(json.df['IS EBITDA']), Object.values(json.df.arr_EBITDA_margin)],
				  [Object.values(json.df['FP_u Construction costs']), Object.values(json.df['FP_u Cumulative total uses'])],
				  [Object.values(json.df.arr_sizing_debt_interest_operations), Object.values(json.df.arr_debt_service_repayment), Object.values(json.df.arr_ratios_DSCR)],
				  [Object.values(json.df['Debt Debt service']), Object.values(json.df.arr_sizing_CFADS)],
				  [Object.values(json.df.arr_debt_service_repayment), Object.values(json.df['Debt Senior debt balance (EoP)'])],
				  [Object.values(json.df['Equity injections and reimbursement']), Object.values(json.df['Distr Dividends paid']),Object.values(json.df['IRR curve'])],
				  [Object.values(json.df['RE Retained earnings (BoP)']), Object.values(json.df['Distr Distribution account balance (EoP)'])]
				];

				const charts = [myChart, myChart2, myChart3, myChart4, myChart5, myChart6, myChart7, myChart8, myChart9, myChart10];

				charts.forEach((chart, index) => {
				  updateChart(chart, datasets[index]);
				});

		
			},

			error: function(json){

				obj = JSON.parse(json.responseJSON.error);

				const array = Object.values(obj)[0];
				const firstElement = array[0];

				alert(firstElement.message)
				console.log(firstElement.message)

			}
		});
		return false;
	});

</script>

<script type="text/javascript">

	$(document).ready(function () {
		$("#sidebar").mCustomScrollbar({
			theme: "minimal-dark"
		});

		$('#sidebarCollapse').on('click', function () {
			$('#sidebar, #content').toggleClass('active');
			$('.collapse.in').toggleClass('in');
			$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			if ($(this).text() == '<') {
				$(this).text('>');
			} else {
				$(this).text('<');
			}
		});

	});
	
</script>


{% endblock %}


