/* authentification/style.css */

/* Ensure that the body takes up the full height and apply a nice background */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f7f7;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Style the form element */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Style the input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

/* Style the submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background: #0056b3;
}

/* Style the paragraph for any additional text */
p {
    text-align: center;
    color: #666666;
}


/* Style for forgotten password link */
.forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Grey line separator */
.separator-line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #666, #f0f0f0);
    margin: 10px 0;
}

/* Style for the Create new account button */
.btn-create-account {
    background-color: #42B72A;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: none; /* Remove the black outline */
}

.btn-create-account:hover {
    background-color: #218838;
}

/* Style for the Log in button */
.btn-login {
    background-color: #0d6efd;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn-login:hover {
    background-color: #0069d9;
}

/* ... additional styles ... */



header {
  width: 30%;
}

.text-blue {
    color: #0d6efd; /* Set the text color to blue */
    font-size: 60px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between; /* Spread the form and content to the left and right */
    padding: 20px;
}

