<!DOCTYPE html>
<html>

<head>
    <title>Shango</title>
    <!-- Include your CSS and Bootstrap links here -->
    {% load static %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home_page/style_home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'financial_model/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/alliance-no1" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
 

        <div id="header-wrapper">

            <header>
                <nav>
                    <div class="nav-left">
                        <img style="height: 25px;" src="{% static 'financial_model/logo.png' %}" />
                    </div>    
                    <div class="nav-middle">


                    </div>          
                    <div class="nav-right">
                        <a href="/login/" class="button" id="login">Log in</a>
                        <a href="/projects/" class="button" id="sandbox">Enter sandbox</a>
                    </div>
                </nav>
    
            </header>

        </div>


<content-wrapper>


<div id="frontpage">
<div class="text-container">
        <div class="inner-div" >
            <h1>Unlock your Renewable Investment Potential</h1>
        </div>
        <div class="inner-div" >
            <h2><span class="highlight-white">AI-infused integrated green project structuring and monitoring<br></span></h2>
        </div>
        <div class="inner-div" >
            <h3>For development and finance teams looking to boost revenue and optimize<br>renewable investment returns through advanced analytics.</h3>
        </div>
</div>

<img src="{% static 'financial_model/banner.jpg' %}" />





<div class="demo">
    <a a href="/projects/" class="button" id="demo">Request a demo &rarr;</a>
</div>

</div>

<content >
        
<!--

<menu-scroll>


<div class="row">
  <div class="col-2">
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1">Key features</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Benefits</a>
    </div>
  </div>

</menu-scroll>

 -->

<main >

  <div class="col">

         
<div id="list-item-2">
    <h2>Key features</h2>

<div class="content-container" id="content-container-2">
        <div class="inner-div">
            <h4>A complete toolbox to make strategic decisions at every stage of the project lifecycle, from development through monitoring.</h4>
        </div>


    <div class="div2-content">
    <div class="div2-column">
        <h3>Development</h3>
        <ul class="checkbox-list">
            <li>User-friendly scenario design</li>
            <li>Error-prone modeling worldwide</li>
            <li>Live market data feed</li>
            <li>Efficient cost analysis</li>
            <li>Development phase monitoring tool</li>            
        </ul>
    </div>

    <div class="div2-column">
        <h3>Financing</h3>
        <ul class="checkbox-list">
            <li>Intuitive financing scenario building</li>
            <li>User-friendly bank terms benchmarking</li>
            <li>Streamlined M&A transaction platform</li>
            <li>Efficient interface for lender interactions</li>           
        </ul>
    </div>

    <div class="div2-column">
        <h3>Monitoring</h3>
        <ul class="checkbox-list">
            <li>Monitoring and certification of debt coverage ratios</li>
            <li>Visualisation of portfolio cash-flows</li>
            <li>Identification of cash management improvement opportunities</li>
            <li>Budget tracking analysis</li>
            <li>Hedging strategy tracking</li>
        </ul>
    </div>
    <div class="div2-column">
        <h3>Valuation</h3>
        <ul class="checkbox-list">
            <li>Real-time project, portfolio and hedge instruments valuation</li>
            <li>Live market data feed</li>
            <li>Real-time tax regulation updates</li>
        </ul>
    </div>
 </div>


</div>

</div>
                      <div class="with-separator" id="list-item-3">

                        <h2>Benefits</h2>

                                <div class="inner-div">
            <h4>Dive into project optimization and identify growth opportunities !</h4>
        </div>
                            <div class="row">
                                <div class="columns-container">
                                <div class="column">
                                    <h3>💵 Increased Profitability</h3>
                                    <p>Increase your revenue by supporting your development efforts and optimizing your project and financing contracts worldwide.</p>
                                </div>
                                <div class="column">
                                    <h3>💡 Informed Decision Making</h3>
                                    <p>Scenario analysis provide tangible data that helps you make informed decisions and justify your strategies to stakeholders (refinancing, M&A, divestures, repowering, hedging).</p>
                                </div>
                                <div class="column">
                                    <h3>🚀 Competitite Advantage</h3>
                                    <p>Stay ahead of the competition by controlling your assets and identifying arbitrage .</p>
                                </div>
                            </div>

                            </div>

                            <div class="row">
                                <div class="columns-container">
                                <div class="column">
                                    <h3>💰 Data Leveraging</h3>
                                    <p>Use your data to maximize the value of each project and make your development efforts profitable.</p>
                                </div>
                                <div class="column">
                                    <h3>⚖️ Risk Reduction</h3>
                                    <p>Reduce risks by testing different ideas and hypotheses. Eliminate risks associated with implementing new initiatives or significant changes.</p>
                                </div>
                                    <div class="column">
                                    <h3>⏳ Long-Term Time Savings</h3>
                                    <p>By quickly leveraging your data, avoid costly process and ineffective approaches.</p>
                                </div>
                            </div>
                        </div>
                        </div>
    </div>

</main>
  </div>


        </content>

        <footer>
    <div class="footer-content">
    <div class="footer-column">

    </div>
    <div class="footer-column">
        <ul>
        </ul>
    </div>
    <div class="footer-column">
        <h4></h4>
        <ul>
            <li><a class="hover-effect" href="#"></a></li>
            <li><a class="hover-effect" href="#"></a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4></h4>
        <ul>
            <li><a class="hover-effect" href="#"></a></li>
            <li><a class="hover-effect" href="#">  </a></li>
            <li><a class="hover-effect" href="#"> </a></li>
            <li><a class="hover-effect"href="#"></a></li>
        </ul>
    </div>

</footer>
    </content-wrapper>





    

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>


