

<div class="charts-container">

	<div class="graph"><canvas id="chartOpRevenuesbyTech"></canvas></div>
    <div class="graph"><canvas id="chartOpRevenuesbyCountry"></canvas></div>

</div>


<!-- Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<script>



const ctxchartOpRevenuesbyTech = document.getElementById('chartOpRevenuesbyTech');
const chartOpRevenuesbyTech = new Chart(ctxchartOpRevenuesbyTech, {
    data: {
        labels: ["1","2","3","4","5","6"],
        datasets: [{
            type: 'bar',
            label: 'Solar - ground-mounted',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#3b82f6',
            ],
            borderWidth: 1
        },{

            type: 'bar',
            label: 'Solar - rooftop',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#10b981',
            ],

            borderWidth: 1
        },{

            type: 'bar',
            label: 'Wind',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#fbbf24',
            ],

            borderWidth: 1
        },{

            type: 'line',
            label: 'Total',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#f43f5e',
            ],
            borderColor: [
                '#f43f5e',
            ],
            borderWidth: 1
        },
        ]
    },
    options: {

        responsive:true,
        maintainAspectRatio: false,

      plugins:{
        legend: {
            position: 'top',
        },

         title: {
            display: true,
            text: 'Revenues (kEUR)'
        }},

        scales: {
            x: {
                stacked: true,
            },
            y: {
                stacked: true,
            },
        }
    }
});



const ctxchartOpRevenuesbyCountry = document.getElementById('chartOpRevenuesbyCountry');
const chartOpRevenuesbyCountry = new Chart(ctxchartOpRevenuesbyCountry, {
    data: {
        labels: ["1","2","3","4","5","6"],
        datasets: [{
            type: 'bar',
            label: 'France',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#3b82f6',
            ],
            borderWidth: 1
        },{

            type: 'bar',
            label: 'Spain',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#10b981',
            ],
            borderWidth: 1
        },{

            type: 'line',
            label: 'Total',
            data: [1,2,3,4,5,6],
            backgroundColor: [
                '#f43f5e',
            ],
            borderColor: [
                '#f43f5e',
            ],
            borderWidth: 1
        },
        ]
    },
    options: {

        responsive:true,
        maintainAspectRatio: false,

      plugins:{
        legend: {
            position: 'top',
        },

         title: {
            display: true,
            text: 'Revenues (kEUR)'
        }},

        scales: {
            x: {
                stacked: true,
            },
            y: {
                stacked: true,
            },
        }
    }
});

</script>






