

<div class="charts-container">

	<div class="graph"><canvas id="chartDevCountry"></canvas></div>
	<div class="graph"><canvas id="chartDevTech"></canvas></div>

</div>


<!-- Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<script>



const ctxchartDevCountry = document.getElementById('chartDevTech');
const chartDevTech = new Chart(ctxchartDevCountry, {
    type: 'doughnut',
    data: {
        labels: ['Solar - ground - mounted','Wind', 'Solar - rooftop'],
        datasets: [{
            data: [1,1,1],
            backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)','rgba(75, 192, 192, 0.2)'],
            borderColor: ['rgba(54, 162, 235, 0.75)', 'rgba(255, 99, 132, 0.75)','rgba(75, 192, 192, 0.75)'],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false, // Ensures the chart uses full container space
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Projects Capacity by Type (kW)'
            }
        }
    }
});

const ctxchartDevTech = document.getElementById('chartDevCountry');
const chartDevCountry = new Chart(ctxchartDevTech, {
    type: 'bar',
    data: {
        labels: ['France', 'Spain'],
        datasets: [{
            label: 'kW',
            data: [1, 1],
            backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'],
            borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)'],
            borderWidth: 1
        }]
    },
    options: {
        indexAxis: 'y',
        responsive: true,
        maintainAspectRatio: false, // Allow full usage of container space
        plugins: {
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Projects Capacity by Country (kW)'
            }
        }
    }
});

</script>






