<!DOCTYPE html>
<html>

<head>
    <title>Shango</title>
    <!-- Include your CSS and Bootstrap links here -->
    {% load static %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'authentication/style_home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'AjaxPost/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/alliance-no1" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

 
<body>
<div id="header-container">
    <header>
        <nav>
            <div class="nav-left">
                <img style="height: 25px;" src="{% static 'AjaxPost/logo.png' %}" />
            </div>          
            <div class="nav-right">
                <a href="/login/" class="button" id="login">Log in</a>
                <a a href="/projects/" class="button" id="sandbox">Enter sandbox</a>
            </div>
        </nav>
    </header>
</div>

<div class="content-wrapper">


<div class="content-container" id="content-container-1">
        <div class="inner-div" >
            <h1>Unlock your Renewable Investment Potential,<br><span class="highlight-yellow">with assurance.</span></h1>
        </div>
        <div class="inner-div" >
            <h2><span class="highlight-white">AI-infused integrated green project structuring and monitoring<br></span></h2>
        </div>
        <div class="inner-div" >
            <h3>For development and finance teams looking to boost revenue and optimize<br>renewable investment returns through advanced analytics.</h3>
        </div>

        <div class="inner-div" >
        <div class="yellow-button" id="demo">
            <a a href="/projects/">Request a demo &rarr;</a>
        </div>
        </div>

</div>

<div class="content-container" id="content-container-2">
        <div class="inner-div">
            <h4>A complete toolbox</h4>
        </div>
        <div class="inner-div" >
            <h6>To make strategic decisions at every stage of the project lifecycle,<br> from development through monitoring.</h6>
        </div>


    <div class="div2-content">
    <div class="div2-column">
        <h5>Development</h5>
        <ul class="checkbox-list">
            <li>Development stage overview</li>
            <li>Easy-to-use scenario building</li>
            <li>Worldwide intuitive modeling</li>
            <li>Real-time market updates</li>
            <li>Tax / accounting updates</li>
            <li>Easy cost benchmarking</li>

        </ul>
    </div>
    <div class="div2-column">
        <h5>Financing</h5>
        <ul class="checkbox-list">
            <li>Integrated smart helper</li>
            <li>Easy bank terms benchmarking</li>
            <li>Intuitive scenario building</li>
            <li>Unified lenders interface</li>

        </ul>
    </div>

    <div class="div2-column">
        <h5>Monitoring</h5>
        <ul class="checkbox-list">
            <li>Debt coverage monitoring</li>
            <li>Hedging strategy monitoring</li>
            <li>Deep dive data analysis</li>
            <li>Structure cash-flows visualising</li>
            <li>Cash optmising alerts</li>
            <li>Budget comparison</li>

        </ul>
    </div>
    <div class="div2-column">
        <h5>Valuation</h5>
        <ul class="checkbox-list">
            <li>Real-time project valuation</li>
            <li>Automatic market updates</li>
            <li>Hedge instruments valuation</li>

        </ul>
    </div>
 </div>


</div>

<div class="content-container" id="content-container-3">
        <div class="inner-div">
            <h8>Benefits of Shango</h8>
        </div>
        <div class="inner-div" >
            <h9>Dive into project optimization and identify growth opportunities !</h9>
        </div>

        <div class="div-wrapper" >
            <div class="rowtest" >
                <div class="columntest" >
                    <h10>💵 Increased Profitability</h10>
        <div>
            <p>Increase your revenue by supporting your development efforts and optimizing your contracts.</p>
        </div>
                 </div>   
                 <div class="columntest" >
                    <h10>💰 Data Leveraging</h10>

     <div>
            <p>Use your data to maximize the value of each project and make your development efforts profitable.</p>
        </div>
                 </div>   
                 <div class="columntest" >
                    <h10>⚖️ Risk Reduction</h10>
         <div>
            <p>Reduce risks by testing different ideas and hypotheses. Eliminate risks associated with implementing new initiatives or significant changes.</p>
        </div>

                 </div>               
            </div>
            <div class="rowtest" >
                <div class="columntest" >
                    <h10>💡 Informed Decision Making</h10>
        <div>
            <p>Scenario analysis provide tangible data that helps you make informed decisions and justify your strategies to stakeholders.</p>
        </div>

                 </div>   
                 <div class="columntest" >
                    <h10>🚀 Competitite Advantage</h10>
        <div>
            <p>Stay ahead of the competition by controlling your assets and identifying arbitrage.</p>
        </div>

                 </div>   
                 <div class="columntest" >
                    <h10>⏳ Long-Term Time Savings</h10>
        <div>
            <p>By quickly leveraging your data, avoid costly process and ineffective approaches.</p>
        </div>

                 </div>                 
            </div>
       
        </div>



</div>

<div class="content-container" id="content-container-4">
        <div class="inner-div">
            <h4>Do you have any questions ?</h4>
        </div>
        <div class="contact" >
            <div class="inner-div">
                <img loading="lazy" src="https://dvzvtsvyecfyp.cloudfront.net/static/img/twemoji/1f44b.svg" class="cta_button-12__emoji">
             <div class="inner-div">   
            <h9>Support</h9>
            </div>
        </div>
          <div class="inner-div">
            <p>Get personalized support from our team of experts.</p>
        </div>
       <div class="inner-div" >
        <div class="yellow-button">
            <a a href="/projects/">Contact us</a>
        </div>
        </div>
        </div>
</div>

   </div>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


