<!DOCTYPE html>
<html>

<head>
    <title>Shango</title>
    <!-- Include your CSS and Bootstrap links here -->
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'authentication/style_home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'AjaxPost/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/alliance-no1" rel="stylesheet">
</head>

<body>


            <header>
                <nav>
                    <div class="nav-left">
                        <img style="vertical-align: baseline; width: 23px; height: 23px;" src="{% static 'AjaxPost/favicon.ico' %}" />
                        <shango>shango</shango>
                    </div>    
          
                    <div class="nav-right">
                        <a href="/login/" class="button">Log in</a>
                        <a a href="/projects/" class="button">Enter sandbox</a>
                        <a href="#demo" class="button">Request a demo &rarr;</a>
                    </div>
                </nav>
        <nav-bottom>
            <div>
            <a href="#Product">Product</a>
            <a href="#Resources">Resources</a>
            <a href="#Company">Company</a>
            </div>
        </nav-bottom>
        
            </header>


<content>
        


<div class="title-container">
    <h1 class="word"></h1>
</div>
                <div>
                    <img src="static\authentication\landing_picture2.png" class="image">
                </div>



                    <div class="with-separator">
                        <h2>Capabilities</h2>
                        
                            <div class="row">
                                <div class="columns-container">
                                <div class="column">
                                    <h3>Simplicity and Error Prevention</h3>
                                    <p>Shango's user-friendly interface is crafted for ease of use, ensuring that even those new to financial modeling can navigate its features without fear of errors. Our platform automatically updates financial parameters, ensuring your models are always accurate and up to date.</p>
                                    <a href="#">↳ Link A</a>
                                </div>
                                <div class="column">
                                    <h3>Automated Analysis and Optimization</h3>
                                    <p>Our platform doesn't just build models; it enhances them. Shango automatically analyzes projects, optimizing financial structures to avoid cash traps and implement effective hedging strategies, ensuring your project's financial health.</p>
                                    <a href="#">↳ Link B</a>
                                </div>
                                <div class="column">
                                    <h3>Flexibility Across Borders</h3>
                                    <p>With Shango, the daunting task of adapting financial models to each country's fiscal and accounting context becomes a thing of the past. Simply select your project's country, and the specific calculation modules appear, tailored to local requirements.</p>
                                    <a href="#">↳ Link C</a>
                                </div>
                            </div>

                            </div>

                            <div class="row">
                                <div class="columns-container">
                                <div class="column">
                                    <h3>Decision-Making Assistance</h3>
                                    <p>Negotiating project contracts can be a murky business. Shango acts as your intelligent financial assistant, helping you analyze and negotiate project and financing contracts with a clear understanding of the expected returns.</p>
                                    <a href="#">↳ Link D</a>
                                </div>
                                <div class="column">
                                    <h3>Intelligent Financial Structuring</h3>
                                    <p>Project financing demands a sophisticated financial structure, which is where Shango shines. Our platform suggests the most relevant and optimized financial structures automatically, aligning with both banks' and sponsors' needs.</p>
                                    <a href="#">↳ Link D</a>
                                </div>
                                <div class="column">
                                    <h3>End-to-End Solution</h3>
                                    <p>From solar and wind farm development to operational project monitoring, Shango aims to provide a comprehensive solution. We cover all stages, offering both financial negotiation models and operational tracking models to ensure debt coverage ratios are met.</p>
                                    <a href="#">↳ Link D</a>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="with-separator">

                <h2>What Makes Shango Powerful</h2>


            <div class="columns-container">
                <div class="column">
                    <h3>Day 1 Value</h3>
                    <p>Our platform delivers value out of the box.</p>
                    <a href="#">↳ Explore Platform</a>
                </div>
                <div class="column">
                    <h3>AI Decision Advantage Across Your Projects</h3>
                    <p>Bring intelligence to your entire enterprise, and to the core of the decisions and operations that matter most.</p>
                    <a href="#">↳ Explore Offering</a>
                </div>
                <div class="column">
                    <h3>Full Stack Interoperability</h3>
                    <p>Shango meets you where you are, automatically connecting with and enhancing your existing data systems.</p>
                    <a href="#">↳ Explore Interoperability</a>
                </div>
                <div class="column">
                    <h3>Security and Data Privacy</h3>
                    <p>Shango carries certifications or attestations of compliance for the most stringent standards.</p>
                    <a href="#">↳ Explore Security</a>
                </div>
            </div>










                </div>


<footer>
    <div class="footer-column">
            <img src="static\authentication\InstitutFinance.png" class="image-footer" id="image-two" alt="">
            <img src="static\authentication\FranceFintech.png" class="image-footer" id="image-one" alt="">
            <img src="static\authentication\FintechTomorrow.png" class="image-footer" id="image-three" alt="">

        <p>&copy; 2024 Shango All rights reserved.</p>
    </div>
    <div class="footer-column">
        <h4>OFFERING</h4>
        <ul>
            <li><a class="hover-effect" href="#">Develop</a></li>
            <li><a class="hover-effect" href="#">Finance</a></li>
            <li><a class="hover-effect" href="#">Monitor</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>IMPACT STUDIES</h4>
        <ul>
            <li><a class="hover-effect" href="#">Development</a></li>
            <li><a class="hover-effect" href="#">Financing</a></li>
            <li><a class="hover-effect" href="#">Repowering</a></li>
            <li><a class="hover-effect" href="#">Acquisition</a></li>
            <li><a class="hover-effect" href="#">Monitor</a></li>

        </ul>
    </div>
    <div class="footer-column">
        <h4>CAPABILITIES</h4>
        <ul>
            <li><a class="hover-effect" href="#">Decision-making assistance</a></li>
            <li><a class="hover-effect" href="#">Data Automation</a></li>
            <li><a class="hover-effect" href="#">Real-Time Data Insights</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>DOCUMENTS</h4>
        <ul>
            <li><a class="hover-effect" href="#">Cookies</a></li>
            <li><a class="hover-effect" href="#">Privacy and Security</a></li>
            <li><a class="hover-effect" href="#">Terms of Use</a></li>
            <li><a class="hover-effect"href="#">Sitemap</a></li>
        </ul>
    </div>
</footer>




        




        </content>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
var words = ['Unlock your Renewable Investment Potential.'],
    part,
    i = 0,
    offset = 0,
    len = words.length,
    forwards = true,
    skip_count = 0,
    skip_delay = 15,
    speed = 20;

var wordflick = function () {
  setInterval(function () {
    if (forwards) {
      if (offset >= words[i].length) {
        ++skip_count;
        if (skip_count == skip_delay) {
          forwards = false;
          skip_count = 0;
        }
      }
    }
    else {
      if (offset == 0) {
        forwards = true;
        i++;
        offset = 0;
        if (i >= len) {
          i = 0;
        }
      }
    }
    part = words[i].substr(0, offset);
    if (skip_count == 0) {
      if (forwards) {
        offset++;
      }
    }
    $('.word').text(part);
  },speed);
};

$(document).ready(function () {
  wordflick();
});

    </script>


</body>
</html>


