<!-- calculation.html -->

    <div class="box-wrapper">
        <div class="box-calc">
            <h1-calc>Timeline, Counters and Flags</h1-calc>
            <div class="dates-wrapper">
                <table class="table">
                    <tbody id="dates"></tbody>
                </table>
            </div>

            <title-wrapper>    
                <h2-calc>Flags</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="flags"></tbody>
            </table>

            <title-wrapper>    
                <h2-calc>Days</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="days"></tbody>
            </table>

            <title-wrapper>    
                <h2-calc>Time series</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="time_series"></tbody>
            </table>

            <title-wrapper>    
                <h2-calc>Indexation</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="indexation"></tbody>
            </table>

            <h1-calc>Production</h1-calc>
            <table class="table">

                <tbody id="production"></tbody>
            </table>

            <h1-calc>Prices</h1-calc>
            <table class="table">
                <tbody id="price"></tbody>
            </table>

            <h1-calc>Revenues</h1-calc>
            <table class="table">
                <tbody id="revenues"></tbody>
            </table>

            <h1-calc>Operating costs</h1-calc>
            <table class="table">
                <tbody id="opex"></tbody>
            </table>

            <title-wrapper class="detailed">    
                <h1-calc>Working capital</h1-calc>
            </title-wrapper>
            <table class="table detailed">
                <tbody id="working_cap"></tbody>
            </table>

            <h1-calc>Income statement</h1-calc>
            <table class="table">
                <tbody id="IS"></tbody>
            </table>



            <title-wrapper>    
                <h1-calc>Operating account</h1-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="op_account"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>Distribution account</h1-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="distr_account"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>Financing plan</h1-calc>
                <h2-calc>Uses</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="uses"></tbody>
            </table>

            <h2-calc>Sources</h2-calc>
            <table class="table">
                <tbody id="sources"></tbody>
            </table>
 
            <title-wrapper>    
                <h1-calc>Shareholders' equity</h1-calc>
                <h2-calc>Share capital</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="share_capital"></tbody>
            </table>

            <h2-calc>Shareholder loan</h2-calc>
            <table class="table">
                <tbody id="SHL"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>Senior debt</h1-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="senior_debt"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>DSRA</h1-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="DSRA"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>Balance sheet</h1-calc>
                <h2-calc>Assets</h2-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="assets"></tbody>
            </table>

            <h2-calc>Liabilities</h2-calc>
            <table class="table">
                <tbody id="liabilities"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>Audit</h1-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="audit"></tbody>
            </table>

            <title-wrapper>    
                <h1-calc>Ratios</h1-calc>
            </title-wrapper>
            <table class="table">
                <tbody id="ratios"></tbody>
            </table>

        </div>
    </div>
