<!-- Updated HTML structure for fs_financial_statements.html -->


<!-- Financial Statements Navigation -->
<ul class="nav nav-tabs scenario-nav-tabs" id="financialStatementsTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="financing-plan-tab" data-bs-toggle="tab" data-bs-target="#financing-plan" type="button" role="tab" aria-controls="financing-plan" aria-selected="true">
            Financing Plan
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="income-statement-tab" data-bs-toggle="tab" data-bs-target="#income-statement" type="button" role="tab" aria-controls="income-statement" aria-selected="true">
            Income Statement
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="operating-account-tab" data-bs-toggle="tab" data-bs-target="#operating-account" type="button" role="tab" aria-controls="operating-account" aria-selected="false">
            Operating Account
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="distribution-account-tab" data-bs-toggle="tab" data-bs-target="#distribution-account" type="button" role="tab" aria-controls="distribution-account" aria-selected="false">
            Distribution Account
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="balance-sheet-tab" data-bs-toggle="tab" data-bs-target="#balance-sheet" type="button" role="tab" aria-controls="balance-sheet" aria-selected="false">
            Balance Sheet
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="debt-schedule-sheet-tab" data-bs-toggle="tab" data-bs-target="#debt-schedule" type="button" role="tab" aria-controls="debt-schedule" aria-selected="false">
            Debt Schedule
        </button>
    </li>


</ul>

<!-- Financial Statements Tab Content -->
<div class="tab-content" id="financialStatementsTabContent">
    <div class="tab-pane fade show active" id="financing-plan" role="tabpanel" aria-labelledby="financing-plan-tab">
        
        
        <div class="table-wrapper">
            <table class="table_annual excel-navigable" id="fs_financing_plan">
            </table>
        </div>

   


    </div>
    <div class="tab-pane fade" id="income-statement" role="tabpanel" aria-labelledby="income-statement-tab">
        <div class="table-wrapper">
            <table class="table_annual excel-navigable" id="annual_IS">
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="operating-account" role="tabpanel" aria-labelledby="operating-account-tab">
  <div class="table-wrapper">
    <table class="table_annual excel-navigable" id="annual_op_account">
    </table>
</div>
    </div>
    <div class="tab-pane fade" id="distribution-account" role="tabpanel" aria-labelledby="distribution-account-tab">
        <div class="table-wrapper">
            <table class="table_annual excel-navigable" id="annual_distr_account">
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="balance-sheet" role="tabpanel" aria-labelledby="balance-sheet-tab">
        <div class="table-wrapper">
            <table class="table_annual excel-navigable" id="annual_balance_sheet">
            </table>



        </div>
    </div>
    <div class="tab-pane fade" id="debt-schedule" role="tabpanel" aria-labelledby="debt-schedule-sheet-tab">
        <div class="table-wrapper">
            <table class="table_annual excel-navigable" id="debt-schedule">
                <thead>
                    <tr>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>Repayment</th>
                        <th>Interests</th>
                        <th>Debt Service</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

