{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="POST" id="post-form">{% csrf_token %}

    <!-- Include Sidebar -->
    {% include 'financial_model/sidebar.html' %}

    <div id="content">
        <div id="content-box">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#nav-summary" data-bs-toggle="tab">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nav-calculation" data-bs-toggle="tab">Computation</a>
                    </li>
                </ul>
            </nav>

            <div class="tab-content">
                <!-- Include Dashboard -->
                {% include 'financial_model/dashboard.html' %}

                <!-- Include Calculation -->
                {% include 'financial_model/calculation.html' %}
            </div>
        </div>
    </div>
</form>
{% endblock %}