{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="POST" id="post-form">{% csrf_token %}

    <!-- Include Sidebar -->
    {% include 'financial_model/sidebar.html' %}

    <div id="content">
                <h1 id="project_name">Project: {{ project.name }}</h1>

        <div id="content-box">


            <div class="tab-content">
                <!-- Include Dashboard -->
                {% include 'financial_model/dashboard.html' %}

                <!-- Include Calculation -->
                {% include 'financial_model/calculation.html' %}
            </div>
        </div>
    </div>
</form>
{% endblock %}