
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Project name</p>
                </div>
                <div class="row-inline-three-second">
                    <p>text</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.name }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Project type</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.technology }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Country</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.country }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Calculation details</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    <div class="assumption-input">{{ project_form.calculation_detail }} </div>
                </div>
            </div>

