
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Revenue payment delay</p>
                </div>
                <div class="row-inline-three-second">
                    <p>days</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.payment_delay_revenues }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Operating costs payment delay</p>
                </div>
                <div class="row-inline-three-second">
                    <p>days</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.payment_delay_costs }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Minimum cash in operating account</p>
                </div>
                <div class="row-inline-three-second">
                    <p>kEUR</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.cash_min }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Operating account initial funding</p>
                </div>
                <div class="row-inline-three-second">
                    <p>days of opex</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.initial_wc }}
                </div>
            </div>
