<!-- timeline.html -->

            <h3>Production</h3>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Lender case</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.production_choice }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Sponsor case</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.sponsor_production_choice }}
                </div>
            </div>

            <h3>Electricity market prices</h3>
                      <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Lender case</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.price_elec_choice }}
                </div>
            </div>
            <div class="row-inline-wrapper">
                <div class="row-inline-three-first">
                    <p>Sponsor case</p>
                </div>
                <div class="row-inline-three-second">
                    <p>choice</p>
                </div>
                <div class="row-inline-three">
                    {{ project_form.sponsor_price_elec_choice }}
                </div>
            </div>